
@{
    ViewData["Title"] = "Alumno";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutAlumno.cshtml";
}


<head>
    <link href="~/css/cssPerfil/HomeAlumno.css" rel="stylesheet" />
    <title>Area del Alumno</title>

</head>

