@{
    ViewData["Title"] = "Locked out";
}

    <header>
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">ha salido la cuenta vuelve a iniciar en sector Profesor</p>
    </header>
