
@{
    ViewData["Title"] = "Profesor";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutProfesor.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<head>

    <link href="~/css/cssPerfil/HomeProfesor.css" rel="stylesheet" />
    <title>Area del Profesor</title>

</head>

