@model SGIAMT_Integracion.Models.TProgreso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutProfesor.cshtml";
}


<head>
    <title>Gestionar Progreso</title>
    <link rel="stylesheet" href="~/css/RegistroStyle.css" />
</head>
<script>

    function prueba() {
        var categoria = Number(document.getElementById("DpNotaPasos").value);
        var categoria1 = Number(document.getElementById("DpNotaTecnica").value);
        var categoria2 = Number(document.getElementById("DpNotaInteres").value);
        var categoria3 = Number(document.getElementById("DpNotaHabilidad").value);
        suma = (categoria + categoria1 + categoria2 + categoria3);
        promedio = parseInt(suma);
        promedio = (suma / 400);
        /*document.getElementById("preuba").innerHTML = "Resultado es: " + promedio + " %";
        document.getElementById("DpTotalNota").innerHTML = "Resultado es: " +  Number(promedio) + " %";
        document.getElementById("pruebaBoton").innerHTML = promedio;*/
        alert(promedio);
        document.getElementById("DpTotalNota").value = promedio;
    }
</script>


<div class="form-group" style="width : 85% ; float :right">
    <h3 style="color:white;float:initial;font-size:35px">Llenar los siguientes campos:</h3>
    </div>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-10 register-right" style="width : 40% ; float :left">
                    <h2>Registrar Progreso</h2><br />
                                               <form asp-action="Create">
                                                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                   <div class="form-group">
                                                       <label asp-for="PkIpCod" class="control-label"></label>
                                                       <input asp-for="PkIpCod" class="form-control" />
                                                       <span asp-validation-for="PkIpCod" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="VpNombreProgreso" class="control-label"></label>
                                                       <input asp-for="VpNombreProgreso" class="form-control" />
                                                       <span asp-validation-for="VpNombreProgreso" class="text-danger"></span>
                                                   </div>
                                                   <label style="color:darkblue">Aspectos a evaluar:</label>
                                                   <div class="form-group">
                                                       <label asp-for="DpNotaPasos" class="control-label"></label>
                                                       <input asp-for="DpNotaPasos" class="form-control" id="DpNotaPasos" name="DpNotaPasos" />
                                                       <span asp-validation-for="DpNotaPasos" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="DpNotaTecnica" class="control-label"></label>
                                                       <input asp-for="DpNotaTecnica" class="form-control" id="DpNotaTecnica" name="DpNotaTecnica" />
                                                       <span asp-validation-for="DpNotaTecnica" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="DpNotaInteres" class="control-label"></label>
                                                       <input asp-for="DpNotaInteres" class="form-control" id="DpNotaInteres" name="DpNotaInteres" />
                                                       <span asp-validation-for="DpNotaInteres" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="DpNotaHabilidad" class="control-label"></label>
                                                       <input asp-for="DpNotaHabilidad" class="form-control" id="DpNotaHabilidad" name="DpNotaHabilidad" />
                                                       <span asp-validation-for="DpNotaHabilidad" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <input type="submit" value="Hallar promedio" class="btn btn-success" onclick="prueba()" />
                                                   </div>
                                                   <div class="form-group">
                                                       <label asp-for="DpTotalNota" class="control-label"></label>
                                                       <label asp-for="DpTotalNota" id="preuba" class="control-label" name="preuba"></label>
                                                       <input asp-for="DpTotalNota" id="DpTotalNota" class="form-control" type="number" />
                                                       @*<span asp-validation-for="DpTotalNota" class="text-danger"></span>*@
                                                   </div>

                                                   <div class="form-group">
                                                       <label asp-for="VpObservacion" class="control-label"></label>
                                                       <textarea asp-for="VpObservacion" class="form-control" type="text"></textarea>
                                                       <span asp-validation-for="VpObservacion" class="text-danger"></span>
                                                   </div>
                                                   <div class="form-group">
                                                       <input type="submit" value="Registrar" class="btn btn-success" />
                                                       <a asp-controller="Profesorhome" asp-action="Profesor" class="btn btn-warning">Regresar</a>
                                                   </div>

                                               </form>
                </div>
            </div>


        </div>
    </body>

    <script>
        function calcularNota() {
            var nota1 = document.getElementById("DpNotaPasos").value;
            if (nota1 < 12) {
                alert("PRUEBAAA" + nota1);
            }

            alert("PRUEBAAA" + nota1);
            var nota2 = document.getElementById("DpNotaTecnica").value;
            var nota3 = document.getElementById("DpNotaInteres").value;
            var nota4 = document.getElementById("DpNotaHabilidad").value;
            var suma = nota1 + nota2 + nota3 + nota4;
            var promedio = (suma / 4) * 100;
            document.getElementById("preuba").innerHTML = "Resultado es: " + promedio;

    </script>
    @section Scripts {

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
