@model SGIAMT_Integracion.Models.TComprobantePago

@{
    ViewData["Title"] = "Create";

}


<h2 style="color:white">Comprobante de Alumno</h2>
<head>

    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/RegistroStyle.css" />
</head>
<body>

        <div class="container">
            <div class="row">
                <div class="col-10 register-right" style="width : 80% ; float :left">
                    <h3>Comprobante de pago </h3>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="VcpFecha" class="control-label">FECHA DE PAGO</label>
                            <input asp-for="VcpFecha"  class="form-control"/>
                            <span asp-validation-for="VcpFecha" class="text-danger"  style="color:black"></span>
                        </div>
                        <div class="form-group">
                            <label style="color:black" asp-for="VcpNombre" class="control-label">Nombre</label>
                            <input style="color:black" asp-for="VcpNombre" value="alonso" vclass="form-control" />
                            <span asp-validation-for="VcpNombre" style="color:black" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label style="color:black" asp-for="VcpApaterno" class="control-label">Apellido Paterno</label>
                            <input style="color:black" asp-for="VcpApaterno" value="montalvo" class="form-control" />
                            <span style="color:black" asp-validation-for="VcpApaterno" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label style="color:black" asp-for="VcpAmaterno" class="control-label">Apellido Materno</label>
                            <input style="color:black" asp-for="VcpAmaterno" value="orellana" class="form-control" />
                            <span style="color:black" asp-validation-for="VcpAmaterno" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                           
                            <label style="color:black" asp-for="VcpConcepto" class="control-label">Concepto de pago :@ViewBag.estado</label>
                            <input style="color:black" asp-for="VcpConcepto" value="PAGADO" class="form-control" />
                            <span style="color:black" asp-validation-for="VcpConcepto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label style="color:black" asp-for="VcpMonto" class="control-label">Monto : @ViewBag.monto </label>
                            <input style="color:black" asp-for="VcpMonto" value="130" class="form-control" />
                            <span  style="color:black" asp-validation-for="VcpMonto" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label style="color:black" asp-for="VcpAño" class="control-label">año :@ViewBag.año"</label>
                            <input style="color:black" asp-for="VcpAño" value="2019"  class="form-control" />
                            <span style="color:black" asp-validation-for="VcpAño" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label style="color:black" asp-for="VcpMes" class="control-label">Mes: @ViewBag.mes</label>
                            <input style="color:black" asp-for="VcpMes" value="enero" class="form-control" />
                            <span style="color:black" asp-validation-for="VcpMes" class="text-danger"></span>
                        </div>
                        @*<div class="form-group">
                            <label style="color:black" asp-for="VcpDcumento" class="control-label">Documento</label>
                            <input style="color:black" asp-for="VcpDcumento" class="form-control" />
                            <span style="color:black" asp-validation-for="VcpDcumento" class="text-danger"></span>
                        </div>*@
                        <div class="form-group">
                            <label  style="color:black" asp-for="FkIpId" class="control-label">Id de Pago</label>
                            <select style="color:black" asp-for="FkIpId"  class="form-control" asp-items="ViewBag.FkIpId"></select>
                        </div>
                        
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-success" />
                        </div>
                    </form>
                </div>
            </div>

            </div>
        

    </body>

