@model IEnumerable<SGIAMT_Integracion.Models.TUsuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutRecepcionista.cshtml";
}

<head>
    <link href="~/css/RegistroStyle.css" rel="stylesheet" />

</head>

<style type="text/css">
    .table th, .table td {
        text-align: center;
    }

    .btn-inline {
        margin-top: 20px;
    }

    .ui-jqgrid-view {
        background-color: white;
        /*height: 315px;
        width: 1050px;
        background-color: white;*/
    }

    /*cuerpo*/
    .ui-jqgrid .ui-jqgrid-btable tbody tr.jqgrow td {
        overflow: hidden;
        /*white-space: normal;
        padding-right: 2px;
        cursor: pointer;
        height:auto;
    overflow:hidden;*/
        cursor: pointer;
        height: auto;
        padding-right: 4px;
        padding-top: 2px;
        position: relative;
        vertical-align: text-top;
        white-space: normal !important;
    }

    .ui-jqgrid-bdiv {
        height: auto !important;
    }
    /*cabecera*/
    table.ui-jqgrid-htable thead th {
        height: 40px;
        padding: 0 2px 0 2px;
        background: #d3dfec;
        color: black;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
        font-style: initial;
    }

    .table-responsives {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

    .table tbody td {
        padding: 1px 7px 1px 7px !important;
        height: 30px;
        font-size: 13px;
        vertical-align: inherit;
    }

    table.ui-pager-table tbody td {
        padding: 4px 7px 4px 7px !important;
        background: #d3dfec;
    }

    #table-listar-usuario-activo tr td {
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #ddd;
        background-color: snow;
        color: black;
    }

    #table-listar-usuario-inactivo tr td {
        vertical-align: middle;
        text-align: center;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #ddd;
        background-color: snow;
        color: black;
    }

    .ui-jqgrid tr.jqgrow td {
        white-space: nowrap !important;
        width: 100%;
        height: 50px;
    }
</style>

<body>
    <div role="tabpanel" class="tab-pane" align="center">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist" style="color:black">
                        <li role="presentation" class="active"><a role="tab" data-toggle="tab">Seleccione</a></li>
                        <li role="presentation"><a href="#first" aria-controls="first" role="tab" data-toggle="tab">Usuarios Inactivos</a></li>
                        <li role="presentation"><a href="#second" aria-controls="second" role="tab" data-toggle="tab">Usuarios Activos</a></li>

                    </ul>
                    <br />
                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane" id="first">
                            <div class="container">
                                <div class="row ">
                                    <div class="col-10" style="width : 20% ; margin: 25px 0px 0px 65px">
                                        <div class="form-group">
                                            <label style="color:white" for="name">DNI</label>
                                            <input class="form-control" id="ddninac">
                                        </div>

                                    </div>

                                    <div class="col-10" style="width : 20% ; margin: 15px 0px 50px 65px">
                                        <button onclick="getlistusuarioinactivo(true)" , class="btn btn-success" style="margin: 0px 0px 0px 280px"><span class="glyphicon glyphicon-search"></span> Buscar</button>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body" align="center">
                                            <table id="table-listar-usuario-inactivo"></table>
                                            <div id="pager-listar-usuario-inactivo"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="second">
                            <div class="container">
                                <div class="row ">
                                    <div class="col-10" style="width : 20% ; margin: 25px 0px 0px 65px">
                                        @*<div class="form-group">
                                            <label style="color:white" for="name">DNI</label>
                                            <select class="form-control" id="ddni">
                                                <option selected>Seleccione</option>
                                            </select>
                                        </div>*@
                                        <div class="form-group">
                                            <label style="color:white" for="name">DNI</label>
                                            <input class="form-control" id="ddni">
                                        </div>
                                        
                                    </div>

                                    <div class="col-10" style="width : 20% ; margin: 15px 0px 50px 65px">
                                        <button onclick="getlistusuariosactivo(true)" , class="btn btn-success" style="margin: 0px 0px 0px 280px"><span class="glyphicon glyphicon-search"></span> Buscar</button>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-body" align="center">
                                            <table id="table-listar-usuario-activo"></table>
                                            <div id="pager-listar-usuario-activo"></div>
                                        </div>
                                    </div>
                                </div>
                                <!--/.col-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
@section Scripts{
    <script src="~/js/gestionar_usuario/ejemplo.js"></script>
}
