@model SGIAMT_Integracion.Models.TProgreso

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutProfesor.cshtml";
}

<head>

    <link rel="stylesheet" href="~/css/RegistroStyle.css" />
</head>
<h2>Editar Progreso</h2>

<h4>Actualiza los siguientes campos:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PkIpCod" />
            <div class="form-group">
                <label asp-for="VpNombreProgreso" class="control-label"></label>
                <input asp-for="VpNombreProgreso" class="form-control" />
                <span asp-validation-for="VpNombreProgreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DpNotaPasos" class="control-label"></label>
                <input asp-for="DpNotaPasos" class="form-control" />
                <span asp-validation-for="DpNotaPasos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DpNotaTecnica" class="control-label"></label>
                <input asp-for="DpNotaTecnica" class="form-control" />
                <span asp-validation-for="DpNotaTecnica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DpNotaInteres" class="control-label"></label>
                <input asp-for="DpNotaInteres" class="form-control" />
                <span asp-validation-for="DpNotaInteres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DpNotaHabilidad" class="control-label"></label>
                <input asp-for="DpNotaHabilidad" class="form-control" />
                <span asp-validation-for="DpNotaHabilidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DpTotalNota" class="control-label"></label>
                <input asp-for="DpTotalNota" class="form-control" />
                <span asp-validation-for="DpTotalNota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VpObservacion" class="control-label"></label>
                <input asp-for="VpObservacion" class="form-control" />
                <span asp-validation-for="VpObservacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Volver</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
