
@{
    ViewData["Title"] = "Secretaria";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutRecepcionista.cshtml";
}


    <head>

        <link href="~/css/cssPerfil/HomeRecepcionista.css" rel="stylesheet" />
        <title>Area del Recepcionista</title>

    </head>
