@model SGIAMT_Integracion.Models.TUsuarioxProgreso

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutProfesor.cshtml";
}
    <head>
        <title>Gestionar Progreso</title>
        <link rel="stylesheet" href="~/css/RegistroStyle.css" />
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-10 register-right" style="width : 50% ; float :left">
                    <div class="col-md-4">
                        <h2>Registrar UsuarioxProgreso</h2><br />
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="PkIuxPCod" class="control-label"></label>
                                <input asp-for="PkIuxPCod" class="form-control" />
                                <span asp-validation-for="PkIuxPCod" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VupSemana" class="control-label"></label>
                                <input asp-for="VupSemana" class="form-control" />
                                <span asp-validation-for="VupSemana" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="VupNombreProfesor" class="control-label"></label>
                                <input asp-for="VupNombreProfesor" class="form-control" />
                                <span asp-validation-for="VupNombreProfesor" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FkIuDni" class="control-label"></label>
                                <select asp-for="FkIuDni" class="form-control" asp-items="ViewBag.FkIuDni"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="FkIpCod" class="control-label"></label>
                                <select asp-for="FkIpCod" class="form-control" asp-items="ViewBag.FkIpCod"></select>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Registrar" class="btn btn-success" />
                                <br />
                                
                            </div><a asp-action="Index" class="btn btn-warning">Regresar</a>
                        </form>
                    </div>
                </div>
                <div>
                 
                </div>
                </div>
            </div>
            </body>

                @section Scripts {
                    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                }

