
@{
    ViewData["Title"] = "LockoutA";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutAlumno.cshtml";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">ha salido la cuenta vuelve a iniciar en sector Alumno</p>
</header>

