USE [master]
GO
/****** Object:  Database [BD_SGIAMT_GESTIONAR_PROGRESO]    Script Date: 21/10/2019 18:35:13 ******/
CREATE DATABASE [BD_SGIAMT_GESTIONAR_PROGRESO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_SGIAMT_GESTIONAR_PROGRESO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_SGIAMT_GESTIONAR_PROGRESO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_SGIAMT_GESTIONAR_PROGRESO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_SGIAMT_GESTIONAR_PROGRESO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_SGIAMT_GESTIONAR_PROGRESO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_SGIAMT_GESTIONAR_PROGRESO]
GO
/****** Object:  Table [dbo].[T_Nivel]    Script Date: 21/10/2019 18:35:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Nivel](
	[PK_IN_Cod] [int] NOT NULL,
	[VN_NombreNivel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_Nivel7] PRIMARY KEY CLUSTERED 
(
	[PK_IN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_NivelxTipoNivel]    Script Date: 21/10/2019 18:35:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_NivelxTipoNivel](
	[PK_INTN_Cod] [int] IDENTITY(1,1) NOT NULL,
	[FK_IN_Cod] [int] NOT NULL,
	[FK_ITN_Cod] [int] NOT NULL,
	[Nro_Alumno] [int] NOT NULL,
	[FK_IU_Dni] [int] NOT NULL,
 CONSTRAINT [PK_E_NivelxTipoNivel_1] PRIMARY KEY CLUSTERED 
(
	[PK_INTN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Progreso]    Script Date: 21/10/2019 18:35:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Progreso](
	[PK_IP_Cod] [int] NOT NULL,
	[VP_NombreProgreso] [varchar](50) NOT NULL,
	[DP_NotaPasos] [int] NOT NULL,
	[DP_NotaTecnica] [int] NOT NULL,
	[DP_NotaInteres] [int] NOT NULL,
	[DP_NotaHabilidad] [int] NOT NULL,
	[DP_TotalNota] [decimal](5, 2) NOT NULL,
	[VP_Observacion] [varchar](250) NOT NULL,
 CONSTRAINT [PK_T_E_Progreso46] PRIMARY KEY CLUSTERED 
(
	[PK_IP_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TipoNivel]    Script Date: 21/10/2019 18:35:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TipoNivel](
	[PK_ITN_Cod] [int] NOT NULL,
	[ITN_NombreTipoNivel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_TipoNivel8] PRIMARY KEY CLUSTERED 
(
	[PK_ITN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TipoUsuario]    Script Date: 21/10/2019 18:35:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TipoUsuario](
	[PK_ITU_TipoUsuario] [int] NOT NULL,
	[VTU_NombreTipoUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_TipoUsuario0] PRIMARY KEY CLUSTERED 
(
	[PK_ITU_TipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Usuario]    Script Date: 21/10/2019 18:35:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Usuario](
	[PK_IU_Dni] [int] NOT NULL,
	[VU_Nombre] [varchar](50) NOT NULL,
	[VU_APaterno] [varchar](50) NOT NULL,
	[VU_AMaterno] [varchar](50) NOT NULL,
	[VU_Celular] [int] NOT NULL,
	[VU_Correo] [varchar](50) NOT NULL,
	[VU_Direccion] [varchar](50) NOT NULL,
	[DU_FechaNacimiento] [date] NOT NULL,
	[VU_Sexo] [varchar](50) NOT NULL,
	[VU_Contraseña] [varchar](50) NOT NULL,
	[VU_Estado] [varchar](50) NOT NULL,
	[VU_Horario] [varchar](50) NOT NULL,
	[FK_ITU_TipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_T_E_Usuario3] PRIMARY KEY CLUSTERED 
(
	[PK_IU_Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_UsuarioxProgreso]    Script Date: 21/10/2019 18:35:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UsuarioxProgreso](
	[PK_IUxP_Cod] [int] NOT NULL,
	[VUP_Semana] [varchar](50) NOT NULL,
	[VUP_NombreProfesor] [varchar](250) NOT NULL,
	[FK_IU_Dni] [int] NOT NULL,
	[FK_IP_Cod] [int] NOT NULL,
 CONSTRAINT [PK_T_UsuarioxProgreso] PRIMARY KEY CLUSTERED 
(
	[PK_IUxP_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

INSERT [dbo].[T_Nivel] ([PK_IN_Cod], [VN_NombreNivel]) VALUES (1, N'basico')
INSERT [dbo].[T_Nivel] ([PK_IN_Cod], [VN_NombreNivel]) VALUES (2, N'intermedio')
INSERT [dbo].[T_Nivel] ([PK_IN_Cod], [VN_NombreNivel]) VALUES (3, N'avanzado')

INSERT [dbo].[T_TipoNivel] ([PK_ITN_Cod], [ITN_NombreTipoNivel]) VALUES (1, N'Pre-Infantil')
INSERT [dbo].[T_TipoNivel] ([PK_ITN_Cod], [ITN_NombreTipoNivel]) VALUES (2, N'infantes')
INSERT [dbo].[T_TipoNivel] ([PK_ITN_Cod], [ITN_NombreTipoNivel]) VALUES (3, N'Adulto')

INSERT [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario], [VTU_NombreTipoUsuario]) VALUES (1, N'alumno')
INSERT [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario], [VTU_NombreTipoUsuario]) VALUES (2, N'secretaria')
INSERT [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario], [VTU_NombreTipoUsuario]) VALUES (3, N'profesor')

INSERT [dbo].[T_Usuario] ([PK_IU_Dni], [VU_Nombre], [VU_APaterno], [VU_AMaterno], [VU_Celular], [VU_Correo], [VU_Direccion], [DU_FechaNacimiento], [VU_Sexo], [VU_Contraseña], [VU_Estado], [VU_Horario], [FK_ITU_TipoUsuario]) VALUES (54986240, N'Maria', N'Lau', N'Lou', 322165789, N'l_lau@gmail.com', N'Av.Surco', CAST(N'1998-05-12' AS Date), N'Femenino', N'21356', N'Activo', N'9:00 a 10:00', 3)
INSERT [dbo].[T_Usuario] ([PK_IU_Dni], [VU_Nombre], [VU_APaterno], [VU_AMaterno], [VU_Celular], [VU_Correo], [VU_Direccion], [DU_FechaNacimiento], [VU_Sexo], [VU_Contraseña], [VU_Estado], [VU_Horario], [FK_ITU_TipoUsuario]) VALUES (54986253, N'Milagros', N'Cueche', N'Quispe', 930874001, N'mili_98@gmail.com', N'Av.Lima', CAST(N'1998-10-20' AS Date), N'Femenino', N'12345', N'Activo', N'9:00 a 10:00', 1)
INSERT [dbo].[T_Usuario] ([PK_IU_Dni], [VU_Nombre], [VU_APaterno], [VU_AMaterno], [VU_Celular], [VU_Correo], [VU_Direccion], [DU_FechaNacimiento], [VU_Sexo], [VU_Contraseña], [VU_Estado], [VU_Horario], [FK_ITU_TipoUsuario]) VALUES (54986505, N'Lorena', N'Bartolo', N'Azcarza', 548956321, N'lorena_b@gmail.com', N'Av.Surco', CAST(N'1996-07-15' AS Date), N'Femenino', N'31225', N'Activo', N'9:00 a 10:00', 3)
SET IDENTITY_INSERT [dbo].[T_NivelxTipoNivel] ON 

INSERT [dbo].[T_NivelxTipoNivel] ([PK_INTN_Cod], [FK_IN_Cod], [FK_ITN_Cod], [Nro_Alumno], [FK_IU_Dni]) VALUES (1, 1, 3, 1, 54986240)
INSERT [dbo].[T_NivelxTipoNivel] ([PK_INTN_Cod], [FK_IN_Cod], [FK_ITN_Cod], [Nro_Alumno], [FK_IU_Dni]) VALUES (2, 2, 3, 2, 54986253)
INSERT [dbo].[T_NivelxTipoNivel] ([PK_INTN_Cod], [FK_IN_Cod], [FK_ITN_Cod], [Nro_Alumno], [FK_IU_Dni]) VALUES (3, 3, 2, 3, 54986505)
SET IDENTITY_INSERT [dbo].[T_NivelxTipoNivel] OFF

INSERT [dbo].[T_Progreso] ([PK_IP_Cod], [VP_NombreProgreso], [DP_NotaPasos], [DP_NotaTecnica], [DP_NotaInteres], [DP_NotaHabilidad], [DP_TotalNota], [VP_Observacion]) VALUES (3, N'progreso 1', 18, 18, 17, 17, CAST(17.50 AS Decimal(5, 2)), N'Ha mejorado en la tecnica')
INSERT [dbo].[T_Progreso] ([PK_IP_Cod], [VP_NombreProgreso], [DP_NotaPasos], [DP_NotaTecnica], [DP_NotaInteres], [DP_NotaHabilidad], [DP_TotalNota], [VP_Observacion]) VALUES (6, N'progreso 2', 18, 18, 18, 18, CAST(18.00 AS Decimal(5, 2)), N'Falta mejorar en los pasos de baile')
INSERT [dbo].[T_Progreso] ([PK_IP_Cod], [VP_NombreProgreso], [DP_NotaPasos], [DP_NotaTecnica], [DP_NotaInteres], [DP_NotaHabilidad], [DP_TotalNota], [VP_Observacion]) VALUES (9, N'progreso 3', 19, 19, 19, 19, CAST(19.00 AS Decimal(5, 2)), N'Ha mejorado en los pasos de baile')

INSERT [dbo].[T_UsuarioxProgreso] ([PK_IUxP_Cod], [VUP_Semana], [VUP_NombreProfesor], [FK_IU_Dni], [FK_IP_Cod]) VALUES (1, N'semana 1', N'Jose Gomez', 54986240, 3)
INSERT [dbo].[T_UsuarioxProgreso] ([PK_IUxP_Cod], [VUP_Semana], [VUP_NombreProfesor], [FK_IU_Dni], [FK_IP_Cod]) VALUES (3, N'semana 2', N'Julio Diaz', 54986253, 6)
INSERT [dbo].[T_UsuarioxProgreso] ([PK_IUxP_Cod], [VUP_Semana], [VUP_NombreProfesor], [FK_IU_Dni], [FK_IP_Cod]) VALUES (7, N'semana 1', N'Roxana Gutierez', 54986545, 9)

ALTER TABLE [dbo].[T_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_E_NivelxTipoNivel_E_Usuario] FOREIGN KEY([FK_IU_Dni])
REFERENCES [dbo].[T_Usuario] ([PK_IU_Dni])
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel] CHECK CONSTRAINT [FK_E_NivelxTipoNivel_E_Usuario]
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_T_E_NivelxTipoNivel7] FOREIGN KEY([FK_ITN_Cod])
REFERENCES [dbo].[T_TipoNivel] ([PK_ITN_Cod])
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel] CHECK CONSTRAINT [FK_T_E_NivelxTipoNivel7]
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_T_E_NivelxTipoNivel8] FOREIGN KEY([FK_IN_Cod])
REFERENCES [dbo].[T_Nivel] ([PK_IN_Cod])
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel] CHECK CONSTRAINT [FK_T_E_NivelxTipoNivel8]
GO
ALTER TABLE [dbo].[T_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_E_Usuario0] FOREIGN KEY([FK_ITU_TipoUsuario])
REFERENCES [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario])
GO
ALTER TABLE [dbo].[T_Usuario] CHECK CONSTRAINT [FK_T_E_Usuario0]
GO
ALTER TABLE [dbo].[T_UsuarioxProgreso]  WITH CHECK ADD  CONSTRAINT [FK_T_UsuarioxProgreso_T_Progreso] FOREIGN KEY([FK_IP_Cod])
REFERENCES [dbo].[T_Progreso] ([PK_IP_Cod])
GO
ALTER TABLE [dbo].[T_UsuarioxProgreso] CHECK CONSTRAINT [FK_T_UsuarioxProgreso_T_Progreso]
GO
ALTER TABLE [dbo].[T_UsuarioxProgreso]  WITH CHECK ADD  CONSTRAINT [FK_T_UsuarioxProgreso_T_Usuario] FOREIGN KEY([FK_IU_Dni])
REFERENCES [dbo].[T_Usuario] ([PK_IU_Dni])
GO
ALTER TABLE [dbo].[T_UsuarioxProgreso] CHECK CONSTRAINT [FK_T_UsuarioxProgreso_T_Usuario]
GO
USE [master]
GO
