
@{
    ViewData["Title"] = "Secretaria";
    Layout = "~/Views/Shared/_LayoutPerfil/_LayoutRecepcionista.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<head>

    <link href="~/css/cssPerfil/HomeRecepcionista.css" rel="stylesheet" />
    <title>Area del Recepcionista</title>

</head>
