USE [master]
GO
/****** Object:  Database [BD_Administrar_Asistencia]    Script Date: 29/10/2019 15:39:50 ******/
CREATE DATABASE [BD_Administrar_Asistencia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_Administrar_Asistencia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BD_Administrar_Asistencia.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'BD_Administrar_Asistencia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\BD_Administrar_Asistencia_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_Administrar_Asistencia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_Administrar_Asistencia]
GO
/****** Object:  Table [dbo].[T_Asistencia]    Script Date: 29/10/2019 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Asistencia](
	[PK_IA_Asistencia] [int] IDENTITY(1,1) NOT NULL,
	[TA_Hora] [varchar](50) NOT NULL,
	[VA_EstadoAsistencia] [varchar](50) NOT NULL,
	[FK_IU_Dni] [int] NOT NULL,
	[FK_ISD_SemanaxDia] [int] NOT NULL,
 CONSTRAINT [PK_T_E_Asistencia58] PRIMARY KEY CLUSTERED 
(
	[PK_IA_Asistencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Dia]    Script Date: 29/10/2019 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Dia](
	[PK_ID_Dia] [int] NOT NULL,
	[VD_NombreDia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_Dia] PRIMARY KEY CLUSTERED 
(
	[PK_ID_Dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Nivel]    Script Date: 29/10/2019 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Nivel](
	[PK_IN_Cod] [int] NOT NULL,
	[VN_NombreNivel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_Nivel7] PRIMARY KEY CLUSTERED 
(
	[PK_IN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_NivelxTipoNivel]    Script Date: 29/10/2019 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_NivelxTipoNivel](
	[PK_INTN_Cod] [int] IDENTITY(1,1) NOT NULL,
	[FK_IN_Cod] [int] NOT NULL,
	[FK_ITN_Cod] [int] NOT NULL,
	[Nro_Alumno] [int] NOT NULL,
	[FK_IU_Dni] [int] NOT NULL,
 CONSTRAINT [PK_E_NivelxTipoNivel_1] PRIMARY KEY CLUSTERED 
(
	[PK_INTN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_Semana]    Script Date: 29/10/2019 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Semana](
	[PK_IS_Semana] [int] NOT NULL,
	[VS_NombreSemana] [nchar](50) NOT NULL,
 CONSTRAINT [PK_T_Semana] PRIMARY KEY CLUSTERED 
(
	[PK_IS_Semana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_SemanaxDia]    Script Date: 29/10/2019 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SemanaxDia](
	[PK_ISD_SemanaxDia] [int] IDENTITY(1,1) NOT NULL,
	[FK_IS_Semana] [int] NOT NULL,
	[FK_ID_Dia] [int] NOT NULL,
 CONSTRAINT [PK_T_SemanaxDia] PRIMARY KEY CLUSTERED 
(
	[PK_ISD_SemanaxDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[T_TipoNivel]    Script Date: 29/10/2019 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_TipoNivel](
	[PK_ITN_Cod] [int] NOT NULL,
	[ITN_NombreTipoNivel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_TipoNivel8] PRIMARY KEY CLUSTERED 
(
	[PK_ITN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_TipoUsuario]    Script Date: 29/10/2019 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_TipoUsuario](
	[PK_ITU_TipoUsuario] [int] NOT NULL,
	[VTU_NombreTipoUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_TipoUsuario0] PRIMARY KEY CLUSTERED 
(
	[PK_ITU_TipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Usuario]    Script Date: 29/10/2019 15:39:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Usuario](
	[PK_IU_Dni] [int] NOT NULL,
	[VU_Nombre] [varchar](50) NOT NULL,
	[VU_APaterno] [varchar](50) NOT NULL,
	[VU_AMaterno] [varchar](50) NOT NULL,
	[VU_Celular] [int] NOT NULL,
	[VU_Correo] [varchar](50) NOT NULL,
	[VU_Direccion] [varchar](50) NOT NULL,
	[DU_FechaNacimiento] [date] NOT NULL,
	[VU_Sexo] [varchar](50) NOT NULL,
	[VU_Contraseña] [varchar](50) NOT NULL,
	[VU_Estado] [varchar](50) NOT NULL,
	[VU_Horario] [varchar](50) NOT NULL,
	[FK_ITU_TipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_T_E_Usuario3] PRIMARY KEY CLUSTERED 
(
	[PK_IU_Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[T_Dia] ([PK_ID_Dia], [VD_NombreDia]) VALUES (1, N'Lunes')
INSERT [dbo].[T_Dia] ([PK_ID_Dia], [VD_NombreDia]) VALUES (2, N'Miércoles')
INSERT [dbo].[T_Dia] ([PK_ID_Dia], [VD_NombreDia]) VALUES (3, N'Viernes')
INSERT [dbo].[T_Nivel] ([PK_IN_Cod], [VN_NombreNivel]) VALUES (1, N'Básico')
INSERT [dbo].[T_Nivel] ([PK_IN_Cod], [VN_NombreNivel]) VALUES (2, N'Intermedio')
INSERT [dbo].[T_Nivel] ([PK_IN_Cod], [VN_NombreNivel]) VALUES (3, N'Avanzado')
SET IDENTITY_INSERT [dbo].[T_NivelxTipoNivel] ON 

INSERT [dbo].[T_NivelxTipoNivel] ([PK_INTN_Cod], [FK_IN_Cod], [FK_ITN_Cod], [Nro_Alumno], [FK_IU_Dni]) VALUES (1, 1, 3, 1, 54986253)
INSERT [dbo].[T_NivelxTipoNivel] ([PK_INTN_Cod], [FK_IN_Cod], [FK_ITN_Cod], [Nro_Alumno], [FK_IU_Dni]) VALUES (3, 1, 3, 2, 54986545)
INSERT [dbo].[T_NivelxTipoNivel] ([PK_INTN_Cod], [FK_IN_Cod], [FK_ITN_Cod], [Nro_Alumno], [FK_IU_Dni]) VALUES (4, 1, 3, 3, 54986752)
SET IDENTITY_INSERT [dbo].[T_NivelxTipoNivel] OFF
INSERT [dbo].[T_Semana] ([PK_IS_Semana], [VS_NombreSemana]) VALUES (1, N'Semana 1                                          ')
INSERT [dbo].[T_Semana] ([PK_IS_Semana], [VS_NombreSemana]) VALUES (2, N'Semana 2                                          ')
INSERT [dbo].[T_Semana] ([PK_IS_Semana], [VS_NombreSemana]) VALUES (3, N'Semana 3                                          ')
SET IDENTITY_INSERT [dbo].[T_SemanaxDia] ON 

INSERT [dbo].[T_SemanaxDia] ([PK_ISD_SemanaxDia], [FK_IS_Semana], [FK_ID_Dia]) VALUES (1, 1, 1)
INSERT [dbo].[T_SemanaxDia] ([PK_ISD_SemanaxDia], [FK_IS_Semana], [FK_ID_Dia]) VALUES (2, 1, 2)
INSERT [dbo].[T_SemanaxDia] ([PK_ISD_SemanaxDia], [FK_IS_Semana], [FK_ID_Dia]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[T_SemanaxDia] OFF
INSERT [dbo].[T_TipoNivel] ([PK_ITN_Cod], [ITN_NombreTipoNivel]) VALUES (1, N'Infante(3-6 años)')
INSERT [dbo].[T_TipoNivel] ([PK_ITN_Cod], [ITN_NombreTipoNivel]) VALUES (2, N'Infantil(7-12 años)')
INSERT [dbo].[T_TipoNivel] ([PK_ITN_Cod], [ITN_NombreTipoNivel]) VALUES (3, N'Juvenil - Adulto(13-a mas años)')
INSERT [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario], [VTU_NombreTipoUsuario]) VALUES (1, N'alumno')
INSERT [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario], [VTU_NombreTipoUsuario]) VALUES (2, N'secretaria')
INSERT [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario], [VTU_NombreTipoUsuario]) VALUES (3, N'profesor')
INSERT [dbo].[T_Usuario] ([PK_IU_Dni], [VU_Nombre], [VU_APaterno], [VU_AMaterno], [VU_Celular], [VU_Correo], [VU_Direccion], [DU_FechaNacimiento], [VU_Sexo], [VU_Contraseña], [VU_Estado], [VU_Horario], [FK_ITU_TipoUsuario]) VALUES (12478936, N'Luis', N'Huaman', N'Noa', 458965778, N'luis_huaman@gmail.com', N'Av.Lima', CAST(N'1996-08-07' AS Date), N'Masculino', N'54878', N'Activo', N'9:00 a 10:00', 1)
INSERT [dbo].[T_Usuario] ([PK_IU_Dni], [VU_Nombre], [VU_APaterno], [VU_AMaterno], [VU_Celular], [VU_Correo], [VU_Direccion], [DU_FechaNacimiento], [VU_Sexo], [VU_Contraseña], [VU_Estado], [VU_Horario], [FK_ITU_TipoUsuario]) VALUES (46589475, N'Flor', N'Loayza', N'Ramos', 213697574, N'flore@hotmail.com', N'Av.Perú', CAST(N'1996-08-13' AS Date), N'Femenino', N'15248', N'Activo', N'9:00 a 10:00', 1)
INSERT [dbo].[T_Usuario] ([PK_IU_Dni], [VU_Nombre], [VU_APaterno], [VU_AMaterno], [VU_Celular], [VU_Correo], [VU_Direccion], [DU_FechaNacimiento], [VU_Sexo], [VU_Contraseña], [VU_Estado], [VU_Horario], [FK_ITU_TipoUsuario]) VALUES (54658232, N'Camila', N'Lora', N'Mar', 541326587, N'cami@hotmail.com', N'Av.Lima', CAST(N'1995-10-12' AS Date), N'Femenino', N'65895', N'Activo', N'7:00 a 8:00', 1)
ALTER TABLE [dbo].[T_Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_T_Asistencia_T_SemanaxDia] FOREIGN KEY([FK_ISD_SemanaxDia])
REFERENCES [dbo].[T_SemanaxDia] ([PK_ISD_SemanaxDia])
GO
ALTER TABLE [dbo].[T_Asistencia] CHECK CONSTRAINT [FK_T_Asistencia_T_SemanaxDia]
GO
ALTER TABLE [dbo].[T_Asistencia]  WITH CHECK ADD  CONSTRAINT [FK_T_Asistencia_T_Usuario1] FOREIGN KEY([FK_IU_Dni])
REFERENCES [dbo].[T_Usuario] ([PK_IU_Dni])
GO
ALTER TABLE [dbo].[T_Asistencia] CHECK CONSTRAINT [FK_T_Asistencia_T_Usuario1]
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_E_NivelxTipoNivel_E_Usuario] FOREIGN KEY([FK_IU_Dni])
REFERENCES [dbo].[T_Usuario] ([PK_IU_Dni])
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel] CHECK CONSTRAINT [FK_E_NivelxTipoNivel_E_Usuario]
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_T_E_NivelxTipoNivel7] FOREIGN KEY([FK_ITN_Cod])
REFERENCES [dbo].[T_TipoNivel] ([PK_ITN_Cod])
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel] CHECK CONSTRAINT [FK_T_E_NivelxTipoNivel7]
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_T_E_NivelxTipoNivel8] FOREIGN KEY([FK_IN_Cod])
REFERENCES [dbo].[T_Nivel] ([PK_IN_Cod])
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel] CHECK CONSTRAINT [FK_T_E_NivelxTipoNivel8]
GO
ALTER TABLE [dbo].[T_SemanaxDia]  WITH CHECK ADD  CONSTRAINT [FK_T_SemanaxDia_T_Dia] FOREIGN KEY([FK_ID_Dia])
REFERENCES [dbo].[T_Dia] ([PK_ID_Dia])
GO
ALTER TABLE [dbo].[T_SemanaxDia] CHECK CONSTRAINT [FK_T_SemanaxDia_T_Dia]
GO
ALTER TABLE [dbo].[T_SemanaxDia]  WITH CHECK ADD  CONSTRAINT [FK_T_SemanaxDia_T_Semana] FOREIGN KEY([FK_IS_Semana])
REFERENCES [dbo].[T_Semana] ([PK_IS_Semana])
GO
ALTER TABLE [dbo].[T_SemanaxDia] CHECK CONSTRAINT [FK_T_SemanaxDia_T_Semana]
GO
ALTER TABLE [dbo].[T_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_E_Usuario0] FOREIGN KEY([FK_ITU_TipoUsuario])
REFERENCES [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario])
GO
ALTER TABLE [dbo].[T_Usuario] CHECK CONSTRAINT [FK_T_E_Usuario0]
GO
USE [master]
GO
