USE [master]
GO
/****** Object:  Database [BD_GestionarProgresoV2]    Script Date: 17/11/2019 19:19:22 ******/
CREATE DATABASE [BD_GestionarProgresoV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_GestionarProgresoV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_GestionarProgresoV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_GestionarProgresoV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\BD_GestionarProgresoV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_GestionarProgresoV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_GestionarProgresoV2]
GO
/****** Object:  Table [dbo].[T_Dia]    Script Date: 17/11/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Dia](
	[PK_ID_Dia] [int] NOT NULL,
	[VD_NombreDia] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_Dia] PRIMARY KEY CLUSTERED 
(
	[PK_ID_Dia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Nivel]    Script Date: 17/11/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Nivel](
	[PK_IN_Cod] [int] NOT NULL,
	[VN_NombreNivel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_Nivel7] PRIMARY KEY CLUSTERED 
(
	[PK_IN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_NivelxTipoNivel]    Script Date: 17/11/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_NivelxTipoNivel](
	[PK_INTN_Cod] [int] IDENTITY(1,1) NOT NULL,
	[FK_IN_Cod] [int] NOT NULL,
	[FK_ITN_Cod] [int] NOT NULL,
	[Nro_Alumno] [int] NOT NULL,
	[FK_IU_Dni] [int] NOT NULL,
 CONSTRAINT [PK_E_NivelxTipoNivel_1] PRIMARY KEY CLUSTERED 
(
	[PK_INTN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Progreso]    Script Date: 17/11/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Progreso](
	[PK_IP_Progreso] [int] IDENTITY(1,1) NOT NULL,
	[VP_NombreProgreso] [varchar](50) NOT NULL,
	[DP_NotaPasos] [int] NOT NULL,
	[DP_NotaTecnica] [int] NOT NULL,
	[DP_NotaInteres] [int] NOT NULL,
	[DP_NotaHabilidad] [int] NOT NULL,
	[DP_TotalNota] [decimal](5, 2) NOT NULL,
	[VP_Observacion] [varchar](250) NOT NULL,
	[FK_IU_Dni] [int] NOT NULL,
	[FK_ISD_SemanaxDia] [int] NOT NULL,
 CONSTRAINT [PK_IP_Progreso58] PRIMARY KEY CLUSTERED 
(
	[PK_IP_Progreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Semana]    Script Date: 17/11/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Semana](
	[PK_IS_Semana] [int] NOT NULL,
	[VS_NombreSemana] [nchar](50) NOT NULL,
 CONSTRAINT [PK_T_Semana] PRIMARY KEY CLUSTERED 
(
	[PK_IS_Semana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_SemanaxDia]    Script Date: 17/11/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_SemanaxDia](
	[PK_ISD_SemanaxDia] [int] IDENTITY(1,1) NOT NULL,
	[FK_IS_Semana] [int] NOT NULL,
	[FK_ID_Dia] [int] NOT NULL,
 CONSTRAINT [PK_T_SemanaxDia] PRIMARY KEY CLUSTERED 
(
	[PK_ISD_SemanaxDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TipoNivel]    Script Date: 17/11/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TipoNivel](
	[PK_ITN_Cod] [int] NOT NULL,
	[ITN_NombreTipoNivel] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_TipoNivel8] PRIMARY KEY CLUSTERED 
(
	[PK_ITN_Cod] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TipoUsuario]    Script Date: 17/11/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TipoUsuario](
	[PK_ITU_TipoUsuario] [int] NOT NULL,
	[VTU_NombreTipoUsuario] [varchar](50) NOT NULL,
 CONSTRAINT [PK_T_E_TipoUsuario0] PRIMARY KEY CLUSTERED 
(
	[PK_ITU_TipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Usuario]    Script Date: 17/11/2019 19:19:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Usuario](
	[PK_IU_Dni] [int] NOT NULL,
	[VU_Nombre] [varchar](50) NOT NULL,
	[VU_APaterno] [varchar](50) NOT NULL,
	[VU_AMaterno] [varchar](50) NOT NULL,
	[VU_Celular] [int] NOT NULL,
	[VU_Correo] [varchar](50) NOT NULL,
	[VU_Direccion] [varchar](50) NOT NULL,
	[DU_FechaNacimiento] [date] NOT NULL,
	[VU_Sexo] [varchar](50) NOT NULL,
	[VU_Contraseña] [varchar](50) NOT NULL,
	[VU_Estado] [varchar](50) NOT NULL,
	[VU_Horario] [varchar](50) NOT NULL,
	[FK_ITU_TipoUsuario] [int] NOT NULL,
 CONSTRAINT [PK_T_E_Usuario3] PRIMARY KEY CLUSTERED 
(
	[PK_IU_Dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_E_NivelxTipoNivel_E_Usuario] FOREIGN KEY([FK_IU_Dni])
REFERENCES [dbo].[T_Usuario] ([PK_IU_Dni])
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel] CHECK CONSTRAINT [FK_E_NivelxTipoNivel_E_Usuario]
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_T_E_NivelxTipoNivel7] FOREIGN KEY([FK_ITN_Cod])
REFERENCES [dbo].[T_TipoNivel] ([PK_ITN_Cod])
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel] CHECK CONSTRAINT [FK_T_E_NivelxTipoNivel7]
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel]  WITH CHECK ADD  CONSTRAINT [FK_T_E_NivelxTipoNivel8] FOREIGN KEY([FK_IN_Cod])
REFERENCES [dbo].[T_Nivel] ([PK_IN_Cod])
GO
ALTER TABLE [dbo].[T_NivelxTipoNivel] CHECK CONSTRAINT [FK_T_E_NivelxTipoNivel8]
GO
ALTER TABLE [dbo].[T_Progreso]  WITH CHECK ADD  CONSTRAINT [FK_T_Progreso_T_SemanaxDia] FOREIGN KEY([FK_ISD_SemanaxDia])
REFERENCES [dbo].[T_SemanaxDia] ([PK_ISD_SemanaxDia])
GO
ALTER TABLE [dbo].[T_Progreso] CHECK CONSTRAINT [FK_T_Progreso_T_SemanaxDia]
GO
ALTER TABLE [dbo].[T_Progreso]  WITH CHECK ADD  CONSTRAINT [FK_T_Progreso_T_Usuario1] FOREIGN KEY([FK_IU_Dni])
REFERENCES [dbo].[T_Usuario] ([PK_IU_Dni])
GO
ALTER TABLE [dbo].[T_Progreso] CHECK CONSTRAINT [FK_T_Progreso_T_Usuario1]
GO
ALTER TABLE [dbo].[T_SemanaxDia]  WITH CHECK ADD  CONSTRAINT [FK_T_SemanaxDia_T_Dia] FOREIGN KEY([FK_ID_Dia])
REFERENCES [dbo].[T_Dia] ([PK_ID_Dia])
GO
ALTER TABLE [dbo].[T_SemanaxDia] CHECK CONSTRAINT [FK_T_SemanaxDia_T_Dia]
GO
ALTER TABLE [dbo].[T_SemanaxDia]  WITH CHECK ADD  CONSTRAINT [FK_T_SemanaxDia_T_Semana] FOREIGN KEY([FK_IS_Semana])
REFERENCES [dbo].[T_Semana] ([PK_IS_Semana])
GO
ALTER TABLE [dbo].[T_SemanaxDia] CHECK CONSTRAINT [FK_T_SemanaxDia_T_Semana]
GO
ALTER TABLE [dbo].[T_Usuario]  WITH CHECK ADD  CONSTRAINT [FK_T_E_Usuario0] FOREIGN KEY([FK_ITU_TipoUsuario])
REFERENCES [dbo].[T_TipoUsuario] ([PK_ITU_TipoUsuario])
GO
ALTER TABLE [dbo].[T_Usuario] CHECK CONSTRAINT [FK_T_E_Usuario0]
GO
USE [master]
GO
